$background-color: #1e1e2a;
$text-color: #ffffff;
$input-field-color: #2b2b3c;
$card-body-color: #2b2b3c;
$card-head-color: #35354a;
$divider-color: #35354a;
$primary-color: #485aef;
$danger-color: #f05365;
